@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

$heading-font: 'Red Hat Display', sans-serif;
$body-font: 'Nunito', sans-serif;
$detail-font: 'Gloria Hallelujah', cursive;

$primary-color: #333;
$dark-color: #333;
$light-color: #E2E4E9;
$secondary-color: #aaa;